.App {
  height:90vh;
}
a{
 color:white;
}
.bgcontainer{
 display:flex;
 justify-content: space-between;
 height: 100vh;
 width:100vw;
}
.App-header {
 background-color: #282c34;
 min-height: 10vh;
 display: flex; 
 justify-content:space-between;
 font-size: 20px;;
 color: white;
 padding: 20px 20px 0 20px;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
 .header-item{
 justify-content: space-evenly;
} 

.signupcontainer{
  display:flex;
  align-content: center;
  background-image: url('./signupbg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff8340;
  justify-content:flex-end;
  width:100vw;
  height: 100vh;
}
.signupbox{ 
 justify-content: center;
 width:400px;
 height:40%;
 margin-top:21%;
 margin-right:25%; 
 }

.signupbox div {
 flex-direction: row;
 justify-content:center ;
 align-content:center;
 padding-left: 35px;  
}
.signupheader {
 text-align: center;
 padding: 5px;  
}

.button-signup {
  background-color: rgb(65, 134, 236); /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/*--------------------------login-----------------------*/
.logincontainer{
  display:flex;
  align-content: center;
  background-image: url('./loginbg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0973dd;
  justify-content:center;
  width:100vw;
  height: 90vh;
}
.loginbox{ 
  text-align: center;
  justify-content: center;
  width:400px;
  height:40%;
  margin-top:15%;
  margin-left: 12%;
   
  }
  .button-login {
    background-color: rgb(13, 109, 13); /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
/*---------------------------------dashboard & component-----------------------*/
.dashboardcontainer{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.profilebox{
 font-family: Georgia, 'Times New Roman', Times, serif;
 padding-left: 30px;
 margin-left: 30px;
 width: 25%;
 height:300px;
 border:1px solid grey;
 border-radius: 20px;
 background-color: antiquewhite;
}
.addfriendbox{
  font-family: Georgia, 'Times New Roman', Times, serif;
 margin: 20px;
 width: 30%;
}
.searchfriendbox{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 20px;
  text-align: center;
  margin: 20px;
  width: 25%;
  height:150px;
  border:1px solid grey;
  border-radius: 20px;
  
 }
.button-addfriend {
  background-color: rgb(109, 5, 5); /* Green */
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}



/* Chat box Css*/
.messageBox{
  background-color: white;
  border: 1px solid grey;
  height:70vh;
  width: 40vw;
  text-align: center;

}
.bg{
 display: flex;
 justify-content: space-between;
 background-color: #282c34;                                         
 height: 70vh;
 width: 90vw;
 margin: auto;
 padding-right:20px; 
}
.bgboxright{
 background-image: url('./frontimg.png'); 

}

/*--------------------------------------------*/

.friendlistcontainer{
  
}













/*--------------------------------------------*/



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cover-pic{
  height:200px;
  width:100vw;
}

.parent {
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;  
  grid-column-gap: 0px;  
  grid-row-gap: 0px;  
  .div1 { grid-area: 1 / 1 / 2 / 4; }  
  .div2 { grid-area: 2 / 3 / 3 / 6; }  
  .div3 { grid-area: 2 / 3 / 6 / 6; }  
  }